* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--colorBg);
}

html {
    font-size: 62.5%;
}

p {
    color: var(--colorMain);
    line-height: 3rem;
    margin: 4rem;
    max-width: 55rem;
}

.fullscreen {
    min-height: 100vh;
    min-width: 100vw;
}

.mainBg {
    background: var(--colorBg);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}